<footer>
    <hr />
    <div>
        <span style="padding-left:10px; padding-right:10px;">
            <img src="/Photos/location.png" width="30" height="30" /><a href="https://goo.gl/maps/caeN1vGQ8NJ2" target="_blank"> 801/83-84 Moo. 12 Phahonyothin Road, Kukhot, Lamlukka Pathumthani 12130, Thailand </a>
        </span>
        <span style="padding-left:10px; padding-right:10px;">
            <img src="/Photos/telephone.png" width="25" height="25" /> +66 85 903 0540
        </span>
        <span style="padding-left:10px; padding-right:10px;">
            <img src="/Photos/email.png" width="30" height="30" /><a href="mailto:n_vic_86@hotmail.com">n_vic_86@hotmail.com</a>
        </span>
        <span style="padding-left:10px; padding-right:10px;">
            <img src="/Photos/pencil.png" width="25" height="25" />
            @Html.ActionLink("Contact Us", "Contact", "Home")
        </span>
        <span class="disclaimer" style="padding-left:10px; padding-right:10px;">
            @Html.ActionLink("Disclaimer", "Index", "Disclaimer")
        </span>
        <p>&copy; @DateTime.Now.Year - Bite Me</p>
    </div>
</footer>
