@*@{
    ViewBag.Title = "About";
    ViewBag.Message = "Your application description page.";
}*@
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>*@

<div class="about-image">
    <img src="/Photos/about_page.jpg" class="img-fluid" alt="Responsive image" />
</div>